* {
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

body, html {
    height: 100%;
}

body {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.login {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

div.register {
    display: flex;
}

img {
    width: 30vh; 
    margin-bottom: 10px;  
}

h1 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: 500;
    margin-top: 10px;
    font-size: 2vh;
}

input {
    width: 20vh;
    height: 30px;
    margin-bottom: 10px;
}

.btn-grad {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
}
.btn-grad {
   margin: 10px;
   padding: 1.5vh 5vh;
   text-align: center;
   text-transform: uppercase;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
   border: 0px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 div.register a {
    margin-left: 5px;
    text-decoration: none;
    color: purple;
}

/* Configuração para telas de celular */

@media (max-width: 900px) {
    div.login {
        width: 70%;
        height: 90%;
    }
}